<footer class="pt-1 pb-2  fixed-bottom bg-dark">
  <div class="text-light text-center">
    <p class="fs-4 mb-1">Gimmick Games</p>
    <small class="text-white-50"
      >&copy; Copyright by ValhallaAMB, lespodsay, Kouhako and MHD. All rights
      reserved</small
    >
  </div>
</footer>
