<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content px-4">
    <div class="modal-body">
      <h5 class="modal-title text-center text-light mb-3">Reset Password</h5>
      <%- include('./messages') -%>
      <form
        class="mx-5 mx-md-0"
        id="loginForm"
        action="/users/resetPassword"
        method="post"
      >
        <div class="form-floating mb-4">
          <input
            type="number"
            class="form-control"
            id="otp"
            name="otp"
            placeholder="name@example.com"
          />
          <label for="otp" class="text-light">OTP</label>
        </div>

        <input
          type="hidden"
          id="email"
          name="email"
          value="<%= typeof email !== 'undefined' ? email : '' %>"
        />
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary mb-2 w-100"
            data-bs-toggle="modal"
            data-bs-target="#changePasswordModal"
          >
            Submit OTP
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<% if (typeof showModal !== 'undefined' && showModal === 'resetPasswordModal') {
%>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var resetPasswordModal = new bootstrap.Modal(
      document.getElementById("resetPasswordModal")
    );
    resetPasswordModal.show();
  });
</script>
<% } %>
