<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/indexStyle.css" />
  </head>
  <body>
    <div class="container-images">
      <div class="imgLeft">
        <a href="/scores/leaderboard/snakeGame"
          ><img
            src="/images/snake-game.png"
            class="float-start img-fluid mt-5 pt-5"
            alt="Artist image"
        /></a>
      </div>
      <div class="imgRight">
        <a href="/scores/leaderboard/spaceIndex"
          ><img
            src="/images/space-invaders.png"
            class="float-start img-fluid mt-5 pt-5"
            alt="Guests Image"
        /></a>
      </div>
    </div>
  </body>
</html>
