<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gimmick Games</title>
    <link rel="icon" type="image/x-icon" href="/images/gimmick-games-logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %> 

    <div><%- body %></div>

    <div class="waves layer1"></div>

    <%- include("partials/footer.ejs") %>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
